@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 222 60% 50%;
		--primary-foreground: 222 100% 97.5%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 0 0% 96.1%;
		--accent-foreground: ;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 63.9%;

		--radius: 0.5rem;

		--nav-offset: 80px;
	}

	@screen md {
		:root {
			--nav-offset: 72px;
		}
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 262 60% 50%;
		--primary-foreground: 262 100% 97.5%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: ;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 0 0% 14.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply h-full scroll-smooth;
	}
	body {
		@apply min-h-full overflow-x-hidden bg-background text-foreground;
	}
}

@layer components {
	.wrapper {
		max-width: calc(100vw - 3rem);
		margin: 0 auto;
		width: 100%;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 6rem);
		}
	}

	@screen xl {
		.wrapper {
			max-width: calc(100vw - 14rem);
		}
	}

	@screen 2xl {
		.wrapper {
			max-width: 1100px;
		}
	}
}

@layer utilities {
	.tw-prose {
		@apply prose dark:prose-invert;
	}
}
