@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components {
	.wrapper {
		max-width: calc(100vw - 4rem);
		width: 100%;
		margin: 0 auto;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 6rem);
		}
	}
	@screen md {
		.wrapper {
			max-width: calc(100vw - 8rem);
		}
	}

	@screen xl {
		.wrapper {
			max-width: calc(100vw - 14rem);
		}
	}

	@screen 2xl {
		.wrapper {
			max-width: 1280px;
		}
	}
}